body {
    background-color: #FFFFFF;
    font-family: "Montserrat";
    color: white;
}

#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
}

.navbar {
    padding-top: 1%;
    padding-left: 10%;
    padding-right: 10%;
}

.container-fluid {
    padding-top: 2%; 
}

.projects-section {
    padding-bottom: 10%;
}

.navbar-brand {
    position: sticky;
}

h1 {
    font-size: 5rem;
}

p {
    color: white;
}

a {
    padding: 0.4%;
}

main > .footer {
    padding: 60px 15px 0;
}
