*, *::after, *::before {
    box-sizing: border-box;
}

:root {
    --cell-size: 100px;
    --mark-size: calc(var(--cell-size) * .9);
}

body {
    margin: 0;
    font-family: 'Roboto';
    /* background-image: url(/TicTacToe/img/bg1.jpg); */
    /* background-size: 130%; */
}

.board {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: center;
    align-content: center;
    justify-items: center;
    align-items: center;
    grid-template-columns: repeat(3, auto);
}

.cell {
    width: var(--cell-size);
    height: var(--cell-size);
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
    border-top: none;
}

.cell:nth-child(3n + 1) {
    border-left: none;
}

.cell:nth-child(3n + 3) {
    border-right: none;
}

.cell:last-child,
.cell:nth-child(7),
.cell:nth-child(8) {
    border-bottom: none;
}

.cell.x,
.cell.circle {
    cursor: not-allowed;
}

.cell.x::before,
.cell.x::after,
.cell.circle::before {
    background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after,
.board.circle .cell:not(.x):not(.circle):hover::before {
    background-color: lightgray;
}

.cell.x::before,
.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    width: calc(var(--mark-size) * .15);
    height: var(--mark-size);
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
    transform: rotate(45deg);
}

.cell.x::after,
.board.x .cell:not(.x):not(.circle):hover::after {
    transform: rotate(-45deg);
}

.cell.circle::before,
.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before {
    width: var(--mark-size);
    height: var(--mark-size);
}

.cell.circle::after,
.board.circle .cell:not(.x):not(.circle):hover::after {
    width: calc(var(--mark-size) * .7);
    height: calc(var(--mark-size) * .7);
    background-color: white;
}

.winning-message {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, .9);
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 5rem;
    flex-direction: column;
}

.winning-message button {
    margin: 5px;
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.winning-message button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.winning-message.show {
    display: flex;
}

.navigation.show {
    display: flex;
}

.navigation {
    display: none;
    width: 100vw;
    position: absolute;
    bottom: 150px;
    justify-content: center;
}

.navigation button {
    border: none;
    font-size: 50px;
    vertical-align: middle;
    margin: 5px;
    font-size: 2rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

.navigation button:hover {
    background-color: black;
    color: white;
    border-color: white;
}


/* EDGES */
#tictactoerules {
    color: black;
    position: absolute;
    top: 150px;
    left: 5%;
    width: 25%;
    
}

li:hover {
    transform: scale(1.2); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  }

li {
    font-weight: 100;
    transition: transform .2s;
}

#title {
    position: absolute;
    font-family: 'Montserrat';
    font-weight: 800;
    right: 25px;
    top: 25px;
    height: 80%;
    animation: scrollText 120s infinite linear;
}

a {
    text-decoration: none;
    color: black;
}

span:hover {
    -webkit-text-stroke: 5px black;
    color: transparent;
}

span {
    font-size: 100px;
}

#xoxo {
    color: black;
    font-family: 'Montserrat';
    position: absolute;
    right: 25px;
    bottom: 25px;
    font-weight: 500;
}

#footer {
    color: gray;
    font-family: 'Montserrat';
    position: absolute;
    left: 25px;
    bottom: 25px;
    font-weight: 500;
}

#black {
    width: 130px;
    height: 130px;
    background-color: black;
    position: absolute;
    top: 25px;
    left: -25px;
    animation: shapeExtend 30s infinite linear;
}

#black:hover {
    width: 100vw;
    background-color: rgba(133, 133, 133, 0.2);
}

ol {
    margin: 0 0 1.5em;
    padding: 0;
    counter-reset: item;
}
  
ol > li {
    margin: 0;
    padding: 0 0 20px 2em;
    text-indent: -2em;
    list-style-type: none;
    counter-increment: item;
}
  
ol > li:before {
    display: inline-block;
    width: 1em;
    padding-right: 0.5em;
    font-weight: bold;
    text-align: right;
    content: counter(item) ".";
}

#surrender {
    display: flex;
    width: 100vw;
    position: absolute;
    bottom: 25px;
    justify-content: center;
}

#surrender button {
    border: none;
    font-size: 50px;
    vertical-align: middle;
    margin: 5px;
    font-size: 1rem;
    background-color: white;
    border: 1px solid black;
    padding: .25em .5em;
    cursor: pointer;
}

#surrender button:hover {
    background-color: black;
    color: white;
    border-color: white;
}

.surrender.hide {
    display: none;
}

/* Keyframes */
@keyframes scrollText {
    from   { transform: translateX(0%); }
    to { transform: translateX(-150%); }
}

@keyframes shapeExtend {
    from {transform: scaleX()}
    to {transform: scaleX(2)}
}